/* Sayfa Yükleme Animasyonu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tüm sayfa öğeleri için fadeIn animasyonu */
body {
    animation: fadeIn 1s ease-out;
}

/* Butonlar için hover animasyonu */
button {
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1); /* Butonun büyümesini sağlar */
}
