/* Tüm sayfa için geçiş animasyonu */
body {
    animation: fadeInPage 1.5s ease-out;
}

/* Sayfa öğelerinin sırayla ortaya çıkma animasyonu */
@keyframes fadeInPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    opacity: 0;
    animation: fadeInUp 2s forwards;
    animation-delay: 1s;
}

/* İçeriklerin yukarı doğru kayarak görünmesi */
@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
